.xtabs-item {
    margin-bottom: -1px;
}

    .xtabs-item .xtabs-link {
        color: #495057;
        border-color: #dee2e6 #dee2e6 #fff;
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        display: block;
        padding: .5rem 1rem;
    }

    .xtabs-item.drop .xtabs-link {
        border: 1px dashed green;
    }

    .xtabs-item .xtabs-link.active {
        background-color: #fff;
        border-color: #dee2e6 #dee2e6 #fff;
    }

    .xtabs-item:hover {
        cursor: pointer;
    }

.xtabs-header-tabs.nav-justified .xtabs-item {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
}

.drag a {
    pointer-events: none !important;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
