@page "/counter"
@attribute [XTabPageAttribute("Counter")]

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    //[Parameter]
    //public override string Title { get; set; } = "Counter";
    //[Parameter]
    //public override string CssClass { get; set; }

    private int currentCount = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
    }
    private void IncrementCount()
    {
        currentCount++;
    }
}